h1 {
    padding: 20px 0 20px 0;
    align-items: center;
}

h2 {
    margin: 20px 0 20px 0;
    padding: 0 10px 0 10px;
    color: #c74900;
}

h3 {
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

p {
    margin-top: 20px;
    padding: 0 10px 40px 10px;
    hyphens: auto;
}

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px 0 80px 0;
    }

    img {
        grid-column: 2/4;
    }

    h1,
    h2,
    h3,
    p {
        grid-column: 2/4;
    }
}