/* colors 
#7a2D00
#fb8c4b
#fa5b00
#7a4425
#c74900
*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.1875rem;
}

h2 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.75rem;
  color: #000;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Signika Negative", sans-serif;
  font-size: 1.4375;
  color: #7a2d01;
}

p {
  font-family: "Trirong", serif;
  font-size: 1rem;
}

nav,
nav p,
header ul,
#second_nav {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

/* Navigation */
#second_nav {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

/* Styling af header */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
}

/* Styling af menu */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#menu {
  /* position: absolut gør elementets placerering relativt til den nærmeste parent,
    som ikke har position: static (static er default på alle elementer). 
    Her er den relativ ifht "header", da den er position: sticky.  */
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  transition: transform 0.3s;
  transform: translateX(-100%);
  z-index: 200;
}

#menu a {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 1.8rem;
  display: block;
}

#menu input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 1rem;
}


/* fra burgermenu til menubar */
@media (min-width: 1000px) {
  #menu {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    transition: none;
    transform: none;
    padding: 0;
  }

}

@media only screen and (min-width: 480px) {
  #second_nav {
    justify-content: space-between;
  }

  #grid_container {
    display: grid;
    grid-template-areas:
      "header"
      "intro_header"
      "second_nav"
      "gallery"
      "footer";
    overflow-x: hidden;
  }
}

.logo {
  width: 12rem;
  height: auto;
  padding: 1rem;
}

#second_nav ul {
  display: flex;
  list-style: none;
}

nav ul li,
header ul li,
#second_nav ul li {
  cursor: pointer;
  margin: 0 1rem;
  color: #fff;
}

#menu ul li a,
#second_nav ul li a {
  color: #fff;
  text-decoration: none;
}


/* Footer */
footer {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  text-align: center;
}

a,
li,
span {
  position: relative;
  padding: 0;
}

ul a:after,
ul li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul a:hover:after,
ul li:hover:after {
  width: 100%;
  left: 0;
}

nav #menu li:hover {
  text-decoration: underline;
}

nav #menu .nav_active {
  text-decoration: underline;
}

@media only screen and (min-width: 480px) {
  #second_nav {
    justify-content: space-between;
  }

  #second_nav a,
  #second_nav li {
    padding: 0.2rem;
  }
}