/* colors 
#7a2D00
#fb8c4b
#fa5b00
#7a4425
#c74900
*/

/* Overordnet GRID til side */
#grid_container {
    display: grid;
    grid-template-areas:
        "header"
        "intro_header"
        "second_nav"
        "gallery"
        "footer";
    overflow-x: hidden;
}

header {
    grid-area: header;
}

#second_nav {
    grid-area: second_nav;
}

#intro_header {
    grid-area: intro_header;
}

main {
    grid-area: gallery;
}

footer {
    grid-area: footer;
}

/* Galleri GRID */
#gallery {
    --auto-grid-min-size: 14rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(var(--auto-grid-min-size), 1fr));
    background-color: #000;
    gap: 2rem;
    padding-top: 5rem;
    background: linear-gradient(145deg, #911011 0%, #040800 100%);
    padding: 5rem 2rem;
    text-align: center;
}

#gallery article .billede,
article .navn {
    cursor: pointer;
}

#film .navn,
#film .genre {
    text-align: center;
    color: #fff;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.koeb_knap {
    background-color: #fff;
    color: #911011;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}


/*
#film .billede {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    object-fit: cover;
    opacity: 0.3;
}


#film .billede:hover {
    filter: grayscale(0%);
    opacity: 0.6;
}
*/


#film .billede {
    border-radius: 1rem;
}

#intro_header {
    display: flex;
    align-items: center;
    max-width: 45rem;
    margin: 2rem auto;
    gap: 12px;
    padding: 5rem 1rem;
    background-image: url(images/watermark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#intro_header img {
    width: 9rem;
    align-items: center;
}